@using UnsceneTravelApp.ViewModels;
@model AddActivitiesViewModel;
@{
}

<h1> Add Activities</h1>
<form method="post">
    <div asp-controller="Activities" asp-action="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"> 
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>

    <br><input type="submit" value="Add Activity" /><br>

</form>
